.headerGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @media screen and (min-width: 768px){
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.headerGrid  > div:nth-child(1){
  justify-self: start;
}
.headerGrid  > div:nth-child(2){
  justify-self: center;
}
.headerGrid  > div:nth-child(3){
  justify-self: end;
}